[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-image = "*"
torch = "*"
torchvision = "*"
pillow = "*"
opencv-python = "*"
paddlepaddle = "*"
paddlehub = "*"
gradio = "*"
onnx = "*"

[dev-packages]

[requires]
python_version = "3.10"
